In [11]:
pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.27.2-py3-none-any.whl (70 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.1/70.1 KB 6.2 MB/s eta 0:00:00
Collecting aiohttp
  Downloading aiohttp-3.8.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 45.2 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.9/dist-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from openai) (4.65.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (2022.12.7)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.8.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (264 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 264.6/264.6 KB 29.0 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (158 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.8/158.8 KB 19.0 MB/s eta 0:00:00
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.2/114.2 KB 16.0 MB/s eta 0:00:00
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->openai) (22.2.0)
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.2 yarl-1.8.2

In [22]:
import os
import openai
import re

In [13]:
openai.api_key = "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" # put in the unique key

In [14]:
openai.organization = None # sets the specific parameters of the openai var

In [106]:
response = openai.Completion.create( # use the appropriate SQL model and set the parameters accordingly 
  model="text-davinci-003",
  prompt="### Postgres SQL tables, with their properties:\n#\n# Customer_Support(sales_id, cust_id, order_id, date)\n# Driver(driver_id: int, driver_name: str, address, experience)\n# Customer(cust_id, cust_name, default_address)\n# Orders(order_id, cust_id, driver_id, date, amount)\n#\n### A query to list the name of the customer with the most orders delivered by driver Tom.\nSELECT",
  temperature=0,
  max_tokens=150,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)

In [107]:
x = response['choices'][0]['text'] # extract the outputted SQL Query
print(x)

 c.cust_name
FROM Customer c
INNER JOIN Orders o
ON c.cust_id = o.cust_id
INNER JOIN Driver d
ON o.driver_id = d.driver_id
WHERE d.driver_name = 'Tom'
GROUP BY c.cust_name
ORDER BY COUNT(*) DESC
LIMIT 1

In [ ]:
#Example: 

'''
db.Customer.aggregate(

    {
        
        $lookup:

        {

            from: "Orders",
            localField: "cust_id",
            foreignField: "cust_id",
            as: "Customer"

        }
    
    }, 

    {

        $group:

        {

            _id: "cust_name",
            count: {$count : {}}

        }

    }, 

    {

        $sort:{count : -1}

    }, 

    {

        $limit: 1

    }

)


'''

'''
db.Customer.aggregate( 
    {
        $lookup: 
        { 
            from : "Orders", 
            localField: "cust_id", 
            foreignField: "cust_id", 
            as: "Customer"
            
        } 
    },
    {
        $lookup: 
        { 
            from : "Driver", 
            localField: "driver_id", 
            foreignField: "driver_id", 
            as: "Customer"
        } 
    },
        
    {
        $match:
        {

            $group: 
            {
                 _id: "c.cust_name", 
                 count: {$count: {order_id}
            } 
         }
         
    }, 
    { 
        $sort: {count : -1}
    }, 
    { $limit : 1 }
    
    )
'''

In [58]:
y = x
print(y)

 c.cust_name
FROM Customer c
INNER JOIN Orders o
ON c.cust_id = o.cust_id
INNER JOIN Driver d
ON o.driver_id = d.driver_id
WHERE d.driver_name = 'Tom'
GROUP BY c.cust_name
ORDER BY COUNT(o.order_id) DESC
LIMIT 1

In [102]:
def complex_SQL_to_MongoDB(query):

    query = re.split(r' |\n', query) # split the query on spaces and turn in to array
    query = query[1:] # remove the initial space
    query = [ x for x in query if len(x) > 0]
    print(query)
    fields = ''
    i = 0 
    while query[i] != 'FROM':

        fields += ' ' + query[i] + ' : 1,'
        i += 1

    fields = fields[:-1]
    i = i +1
    collection = query[i]
    i = i + 1
    if query[i] not in keywords:

        i += 1
    answer = 'db.' + collection + ".aggregate( " # MongoDB function for aggregation

    while i < len(query) and query[i] == 'INNER':

        i = i + 2
        lookup = '{$lookup: { from : "'
        lookup += query[i] + '", localField: "'
        if query[i+1] not in keywords:
            i += 1
        i = i + 2
        lookup += query[i].split('.')[1] + '", foreignField: "'
        i = i+2
        lookup += query[i].split('.')[1] + '", as: "' + collection + '"} },'
        i = i + 1
        answer += lookup

    if i < len(query) and query[i] == 'WHERE':

        where = '{$match:'
        count = 0 

        while i < len(query) and query[i] == 'WHERE' or query[i] == 'AND':

            count += 1
            i = i+1 
            conditions = ''
            print(query[i])
            conditions = '{' + query[i].split('.')[1] + " : "
            if query[i+1] == '=':

                conditions += query[i+2] 
                i = i + 3

            elif query[i+1] == 'BETWEEN':

                conditions += '{$gt: ISODate(' + query[i+2] + '), $lt: ISODate(' + query[i+4] + ')}'
                i+= 5
                
            else:
                
                conditions += '{ ' + mapper[query[i+1]] + ' : ' + query[i+2] + ' }'
                i = i+3

            conditions += '},'

        if count > 1:

            where += '{ $and: [' + conditions[:-1] + ']}}'

        answer += where

    if i < len(query) and query[i] == 'GROUP':

        i = i + 2
        group = '{$group: { _id: "' + query[i] + '"'
        i += 1
        print(i)
        print(query[i])
        if query[i] == 'ORDER' and len(query[i+2]) > 5 and query[i+2][0:5] == 'COUNT':
             
            group += ', count: {$count: ' + ('{}' if query[i+2].split('(')[1][:-1] == '*' else ('{' + query[i+2].split('(')[1][:-1].split('.')[1] + '}') ) + '} }}, { $sort: {count : ' + ('1' if query[i+3] == 'ASC' else '-1') + '}}, '
             
        else:

            group += '} }, { $sort: {' + query[i+2] + ' : ' + ('1' if query[i+3] == 'ASC' else '-1') + '}},'

        i += 4

        answer += group

    if i < len(query) and query[i] == 'LIMIT':

        answer += '{ $limit : ' + query[i+1] + ' }'


    answer += ')'

    return answer


def simple_SQL_to_MongoDB(query):

    query = query.split(' ') # split the query on spaces and turn in to array
    query = query[1:] # remove the initial space
    answer = 'db.collection.find' # MongoDB function for selection
    fields = ''
    i = 0 
    while query[i] != 'FROM':

        fields += ' ' + query[i] + ' : 1,'
        i += 1

    fields = fields[:-1]
    while query[i] != 'WHERE':

        i += 1
    
    i += 1
    conditions = ''
    while i+2 < len(query):

        print(i)

        conditions += ' ' + query[i] + ' : '
        if query[i+1] == '=':

            conditions += query[i+2] 

        elif query[i+1] == 'BETWEEN':

            conditions += '{$gt: ISODate(' + query[i+2] + '), $lt: ISODate(' + query[i+4] + ')}'
            i+= 6
            conditions += ','
            continue

        else:

            conditions += '{ ' + mapper[query[i+1]] + ' : ' + query[i+2] + ' }'

        conditions += ','

        i+= 4

    

        

    conditions = conditions[:-1]


    answer += '({' + conditions + '}, {' + fields + '})'

    return answer

In [103]:
complex_SQL_to_MongoDB(x)

['c.cust_name', 'FROM', 'Customer', 'c', 'INNER', 'JOIN', 'Orders', 'o', 'ON', 'c.cust_id', '=', 'o.cust_id', 'INNER', 'JOIN', 'Driver', 'd', 'ON', 'o.driver_id', '=', 'd.driver_id', 'WHERE', 'd.driver_name', '=', "'Tom'", 'GROUP', 'BY', 'c.cust_name', 'ORDER', 'BY', 'COUNT(o.order_id)', 'DESC', 'LIMIT', '1']
d.driver_name
27
ORDER

'db.Customer.aggregate( {$lookup: { from : "Orders", localField: "cust_id", foreignField: "cust_id", as: "Customer"} },{$lookup: { from : "Driver", localField: "driver_id", foreignField: "driver_id", as: "Customer"} },{$match:{$group: { _id: "c.cust_name", count: {$count: {order_id}} }}, { $sort: {count : -1}}, { $limit : 1 })'

In [54]:

keywords = {'INNER', 'FROM', 'WHERE', 'GROUP', 'BY', 'ON', 'SELECT', 'BETWEEN', 'LIMIT', 'AND', 'ORDER'}

mapper = {} # maps SQL symbols to MongoDB functions

mapper['<'] = '$lt'
mapper['>'] = '$gt'
mapper['!='] = '$ne'

In [ ]:
SQL_to_MongoDB(x) # sample call to function

['employee_id', 'FROM', 'salary_payments', 'WHERE', 'amount', '>', '6000', 'AND', 'date', 'BETWEEN', "'2020-07-01'", 'AND', "'2020-08-31'"]
4
8

"db.collection.find({ amount : { $gt : 6000 }, date : {$gt: ISODate('2020-07-01'), $lt: ISODate('2020-08-31')}}, { employee_id : 1})"

In [ ]:
'''
db.Customer.aggregate( 
    {
        $lookup: 
        { 
            
            from : "Orders", 
            localField: "cust_id", 
            foreignField: "cust_id", 
            as: "Customer"
            
        } 
        
    },
    {
        $group: 
        { 
            _id: "cust_name", 
            count: {$count: {}} 
            
        }
        
    }, 
    { 
        $sort: {count :-1}
    }, 
    
)
'''